@model HomePageModel
@{
    ViewData["Title"] = "Gallery";
}

<style>
/*
    iOS 7 does not support it
    #gallery_is_loading {
        position: fixed;
        left: 50%;
        top: 50%;
        margin-top: 25px;
        line-height: 300px;
        vertical-align: middle;
        text-align: center;
        background-color: dimgrey;
        color: white;
        transform: translate(-50%, -50%)
    }
*/

    body {
        padding-top: 50px;
        /*padding-bottom: 20px;*/
        background-color: dimgrey;
    }

    .body-content {
        padding-left: 15px;
        padding-right: 15px;
    }

    .container {
        width: 99%;
    }

    #gallery_is_loading {
        width: 100%;
        height: 200px;
        line-height: 200px;
        vertical-align: middle;
        text-align: center;
        background-color: dimgrey;
        color: white;
    }


</style>

<div id="gallery_is_loading">
    <span id="loading_message" style="display: none">Loading @Model.Topic Gallery...</span>
</div>

<script>

    function ShowLoadProgress() {
        $("#gallery_is_loading").css("display", "block");
        $("#loading_message").css("display", "inline");
        var headerHeight = $("div.navbar-header").height();
        var hFull = $(window).innerHeight();
        var h = hFull - headerHeight;
        console.log("Full Height: " + $(window).height() + ", Inner Height: " + $(window).innerHeight());
        $("#gallery_is_loading").height(h + "px");
        $("#gallery_is_loading").css("line-height", h + "px");
    }

    function HideLoadProgress() {
        $("#gallery_is_loading").css("display", "none");
        $("#loading_message").css("display", "none");
    }

    function AlignSwiperContainer() {
        var headerHeight = $("div.navbar-header").height();
        var hFull = $(window).innerHeight();
        var hSwiper = $(".swiper-container").height();
        var top = (hFull - headerHeight - hSwiper) / 2;
        if (top < 6) top = 6;
        $(".swiper-container").css("margin-top", top + "px");


    }

    $(document).ready(function () {

        ShowLoadProgress();

        var ratio = window.devicePixelRatio;
        if (ratio === undefined) ratio = 1.0;
        else if (ratio < 1) ratio = 1.0;
        console.log("Sending ratio = " + ratio);

        $.ajax({
            url: "/Home/GetSmartSliderHtml",
            type: "POST",
/*
            data: $.param({ galleryTitle: "@Model.Topic", limits: "Height=1080", ratio: 5.2 }),
*/
            data: $.param({ galleryTitle: "@Model.Topic", windowHeight: $(window).height() - $("div.navbar-header").height(), devicePixelRatio: ratio }),

            complete: function() {
            },

            success: function(ret) {
                HideLoadProgress();
                $("#GalleryRoot").html(ret);
                AlignSwiperContainer();
            },

            error: function(error) {
                $("#loading_message").html("Unable to load gallery :(, please try later.");
            },
        });

    });

</script>

<div id="GalleryRoot" />
    


<script>
    $(document).ready(function() {

        
        $("#height-log").html($(window).innerHeight() + "*" + window.devicePixelRatio);
        $(window).resize(function() {
            $("#height-log").html($(window).innerHeight() + "*" + window.devicePixelRatio);
        });
    
    });

</script>
